html, body {
	margin: 0;
	padding: 0;
}

html * {
	box-sizing: border-box;
}

body {
	background-color: white;
	width: 500px;
	font-family: sans-serif;
}

.screen {
	width: 500px;
	padding: 1rem;
}

.hidden {
	visibility: hidden;
	display: none;
}

.input-group {
	width: 100%;
	margin-top: 1rem;
}

.input-group label {
	display: block;
}

.input-group input, .input-group textarea {
	margin-top: 2px;
	width: 100%;
}

.input-group.checkbox label {
	display: inline;
}

.input-group.checkbox input {
	margin-top: 0;
	width: auto;
}

.button-top-margin {
	margin-top: 1rem;
}

.message.error {
	margin-top: 1rem;
	color: #C00;
}

.message.info {
	margin-top: 1rem;
	color: #090;
}

#main-menu .logout {
	float: right;
}

#main-menu .current-items {
	margin-top: 1rem;
	list-style: none;
	padding: 0;
}

#main-menu .current-items li:first {
	margin-top: 0;
}

#main-menu .current-items li{
	margin-top: 1rem;
}

.clear-fix {
	clear: both;
}

.h1-title {
	margin: 0;
}

.label-gray {
	color: #666;
}

.search {
	margin-top: 1rem;
}
